option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /web
    memory_limit: 1024M
    max_execution_time: 60

files:
  "/opt/elasticbeanstalk/hooks/configdeploy/post/99_restart_nginx.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Add Drupal rewrite rules to the default nginx config
      sed -i '/location \/ {/,/}/ c\
      location / {\
          try_files $uri $uri/ /index.php?$query_string;\
      }' /etc/nginx/conf.d/default.conf
      
      # Reload nginx
      nginx -s reload

container_commands:
  01_create_directories:
    command: "mkdir -p /var/app/current/web/sites/default/files"
  02_fix_permissions:
    command: "chmod -R 755 /var/app/current/web/sites/default/files"
    ignoreErrors: true