option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /web
    memory_limit: 1024M
    max_execution_time: 60
  aws:elasticbeanstalk:application:environment:
    DB_HOST: ${DB_HOST}
    DB_NAME: ${DB_NAME}
    DB_USER: ${DB_USER}
    DB_PASS: ${DB_PASS}
    DRUPAL_HASH_SALT: ${DRUPAL_HASH_SALT}
