option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /web
    memory_limit: 1024M
    max_execution_time: 60
  aws:elasticbeanstalk:application:environment:
    COMPOSER_HOME: /root
    
container_commands:
  01_composer_install:
    command: "composer install --no-dev --optimize-autoloader"
    leader_only: true
  02_drupal_install:
    command: "php web/core/scripts/drupal install"
    leader_only: true
